.brand-logo{
  font-family: 'Kaushan Script', cursive;
}

.search-bar input[type=search]{
  background-color: #fff;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 0 10px;
}

h1{
  font-weight: 100;
}

h6{
  color:grey;
  font-size: 17px;
}

.rating-star{
  color: lightgrey;
  cursor: pointer;
}

.rated-star{
  color: orange;
}

.secondary-content{
  cursor: default;
  pointer-events: none;
}

.chip{
  color: white;
  background-color: teal;
}
