.brand-logo{
  font-family: 'Kaushan Script', cursive;
}

.search-bar input[type=search]{
  background-color: #fff;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 0 10px;
}

.price{
  font-size: 30px;
}

.text-muted{
  font-size: 16px;
  color: gray;
}

.card{
   /*background-color: #1abc9c;*/
   background-color: lightgray;
}

.card .card-image .card-title{
  /*border-bottom: 2px solid transparent;*/
  color: #2d3436;
  margin: 24px;
  padding: 0px;
  transition: all 0.3s;
}

.card .card-image:hover .card-title{
  /*border-bottom: 2px solid orange;*/
  font-size: 30px;
}

.error-color{
  color: red;
  font-size: 12px;
}

.nav-extended material-icons{
  position: relative;
}

.indicator{
  top: 0px;
  right: 0px;
  position: absolute;
  width: 5px;
  height: 5px;
  background: red;
}